In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# 設定圖表樣式
plt.style.use('seaborn-v0_8-whitegrid')
# 解決中文顯示問題
plt.rcParams['font.sans-serif'] = ['Microsoft JhengHei']
plt.rcParams['axes.unicode_minus'] = False

# 載入數據 (請根據你當時儲存的檔案格式和路徑調整)
try:
    gdp_df = pd.read_csv('C:/Users/User/OneDrive - 東吳大學/桌面/taiwan-economic-analysis-2025/國內主要行業生產毛額(名目金額).csv')
except Exception as e:
    print(f"讀取檔案時發生錯誤: {e}")
    print("請檢查檔案路徑、名稱與格式是否正確。")

print(gdp_df.head())
print(gdp_df.info())

   民國年  GDP(生產面)(百萬元)  農、林、漁、牧業(百萬元)  工業(1)~(5)(百萬元)  礦業及土石採取業(1)(百萬元)  \
0  101       14546008         247313         4750525             15405
1  102       15263797         264418         5147629             14267
2  103       16343457         302781         5814180             14328
3  104       17022620         298855         6177658             13257
4  105       17555268         327502         6472113             10818

   製造業(2)(百萬元)  電力及燃氣供應業(3)(百萬元)  用水供應及污染整治業(4)(百萬元)  營造工程業(5)(百萬元)  \
0      4120261            133807               99245         381807
1      4445009            199987               95333         393033
2      5056638            238785               93974         410455
3      5348932            303461               91682         420326
4      5655706            296428               98007         411154

   服務業(6)~(20)(百萬元)  ...  專業、科學及技術服務業(12)(百萬元)  支援服務業(13)(百萬元)  \
0           9548170  ...                324526          217560
1           9851750  ...                336784          228892
2          10226496  ...                357533          248786
3          10546107  ...                369555          274372
4          10755653  ...                382040          294059

   公共行政及國防；強制性社會安全(14)(百萬元)  教育業(15)(百萬元)  醫療保健及社會工作服務業(16)(百萬元)  \
0                   1060887        726984                 417868
1                   1044892        727679                 435589
2                   1046496        736315                 458442
3                   1039481        739550                 480793
4                   1050448        739355                 512023

   藝術、娛樂及休閒服務業(17)(百萬元)  其他服務業(18)(百萬元)  進口稅(19)(百萬元)  加值型營業稅(20)(百萬元)  \
0                126926          391004        157526           260709
1                131732          398213        164893           281433
2                135760          420322        181309           299714
3                140459          426222        193518           290819
4                141090          430350        199880           308331

      資料來源
0  行政院主計總處
1  行政院主計總處
2  行政院主計總處
3  行政院主計總處
4  行政院主計總處

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   民國年                        13 non-null     int64
 1   GDP(生產面)(百萬元)              13 non-null     int64
 2   農、林、漁、牧業(百萬元)              13 non-null     int64
 3   工業(1)~(5)(百萬元)             13 non-null     int64
 4   礦業及土石採取業(1)(百萬元)           13 non-null     int64
 5   製造業(2)(百萬元)                13 non-null     int64
 6   電力及燃氣供應業(3)(百萬元)           13 non-null     int64
 7   用水供應及污染整治業(4)(百萬元)         13 non-null     int64
 8   營造工程業(5)(百萬元)              13 non-null     int64
 9   服務業(6)~(20)(百萬元)           13 non-null     int64
 10  批發及零售業(6)(百萬元)             13 non-null     int64
 11  運輸及倉儲業(7)(百萬元)             13 non-null     int64
 12  住宿及餐飲業(8)(百萬元)             13 non-null     int64
 13  出版、影音製作、傳播及資通訊服務業(9)(百萬元)  13 non-null     int64
 14  金融及保險業(10)(百萬元)            13 non-null     int64
 15  不動產及住宅服務業(11)(百萬元)         13 non-null     int64
 16  專業、科學及技術服務業(12)(百萬元)       13 non-null     int64
 17  支援服務業(13)(百萬元)             13 non-null     int64
 18  公共行政及國防；強制性社會安全(14)(百萬元)   13 non-null     int64
 19  教育業(15)(百萬元)               13 non-null     int64
 20  醫療保健及社會工作服務業(16)(百萬元)      13 non-null     int64
 21  藝術、娛樂及休閒服務業(17)(百萬元)       13 non-null     int64
 22  其他服務業(18)(百萬元)             13 non-null     int64
 23  進口稅(19)(百萬元)               13 non-null     int64
 24  加值型營業稅(20)(百萬元)            13 non-null     int64
 25  資料來源                       13 non-null     object
dtypes: int64(25), object(1)
memory usage: 2.8+ KB
None

In [22]:
# 檢查是否有缺失值
gdp_df.isnull().sum()
# (如果有的話) 進行處理，例如：
# gdp_df.dropna(inplace=True)

民國年                          0
GDP(生產面)(百萬元)                0
農、林、漁、牧業(百萬元)                0
工業(1)~(5)(百萬元)               0
礦業及土石採取業(1)(百萬元)             0
製造業(2)(百萬元)                  0
電力及燃氣供應業(3)(百萬元)             0
用水供應及污染整治業(4)(百萬元)           0
營造工程業(5)(百萬元)                0
服務業(6)~(20)(百萬元)             0
批發及零售業(6)(百萬元)               0
運輸及倉儲業(7)(百萬元)               0
住宿及餐飲業(8)(百萬元)               0
出版、影音製作、傳播及資通訊服務業(9)(百萬元)    0
金融及保險業(10)(百萬元)              0
不動產及住宅服務業(11)(百萬元)           0
專業、科學及技術服務業(12)(百萬元)         0
支援服務業(13)(百萬元)               0
公共行政及國防；強制性社會安全(14)(百萬元)     0
教育業(15)(百萬元)                 0
醫療保健及社會工作服務業(16)(百萬元)        0
藝術、娛樂及休閒服務業(17)(百萬元)         0
其他服務業(18)(百萬元)               0
進口稅(19)(百萬元)                 0
加值型營業稅(20)(百萬元)              0
資料來源                         0
dtype: int64

In [23]:
gdp_df.info

<bound method DataFrame.info of     民國年  GDP(生產面)(百萬元)  農、林、漁、牧業(百萬元)  工業(1)~(5)(百萬元)  礦業及土石採取業(1)(百萬元)  \
0   101       14546008         247313         4750525             15405
1   102       15263797         264418         5147629             14267
2   103       16343457         302781         5814180             14328
3   104       17022620         298855         6177658             13257
4   105       17555268         327502         6472113             10818
5   106       18053119         329722         6722009             10566
6   107       18439379         314315         6844129             11167
7   108       18851489         320356         6904640             11955
8   109       19844783         317009         7741113             12898
9   110       21773291         315742         8879126             11919
10  111       22768954         321363         9005098             11732
11  112       23240228         351341         8966751             11624
12  113       25439422         374042        10119034             12610

    製造業(2)(百萬元)  電力及燃氣供應業(3)(百萬元)  用水供應及污染整治業(4)(百萬元)  營造工程業(5)(百萬元)  \
0       4120261            133807               99245         381807
1       4445009            199987               95333         393033
2       5056638            238785               93974         410455
3       5348932            303461               91682         420326
4       5655706            296428               98007         411154
5       5951694            240588              104714         414447
6       6088713            203382              105460         435407
7       6075769            216973              106897         493046
8       6770729            289201              109837         558448
9       7918542            207392              112798         628475
10      8341140           -167339              118794         700771
11      8057118             20427              119430         758152
12      8961713            233186              121066         790459

    服務業(6)~(20)(百萬元)  ...  專業、科學及技術服務業(12)(百萬元)  支援服務業(13)(百萬元)  \
0            9548170  ...                324526          217560
1            9851750  ...                336784          228892
2           10226496  ...                357533          248786
3           10546107  ...                369555          274372
4           10755653  ...                382040          294059
5           11001388  ...                404445          305518
6           11280935  ...                423651          320124
7           11626493  ...                446111          336802
8           11786661  ...                458921          321903
9           12578423  ...                498552          323443
10          13442493  ...                544307          359927
11          13922136  ...                595080          400019
12          14946346  ...                634987          432856

    公共行政及國防；強制性社會安全(14)(百萬元)  教育業(15)(百萬元)  醫療保健及社會工作服務業(16)(百萬元)  \
0                    1060887        726984                 417868
1                    1044892        727679                 435589
2                    1046496        736315                 458442
3                    1039481        739550                 480793
4                    1050448        739355                 512023
5                    1052982        735528                 534131
6                    1075913        746707                 561075
7                    1103656        744775                 599351
8                    1139635        747908                 633613
9                    1183875        751904                 662899
10                   1234813        774392                 723722
11                   1265774        787498                 753742
12                   1322329        811744                 805398

    藝術、娛樂及休閒服務業(17)(百萬元)  其他服務業(18)(百萬元)  進口稅(19)(百萬元)  加值型營業稅(20)(百萬元)  \
0                 126926          391004        157526           260709
1                 131732          398213        164893           281433
2                 135760          420322        181309           299714
3                 140459          426222        193518           290819
4                 141090          430350        199880           308331
5                 145343          430138        191352           318310
6                 148531          438066        203755           329844
7                 154851          435534        209277           338141
8                 145603          421046        209163           349956
9                 118620          389032        224580           402790
10                158456          424503        238728           440355
11                204768          445921        263011           468885
12                221228          470417        275171           507885

       資料來源
0   行政院主計總處
1   行政院主計總處
2   行政院主計總處
3   行政院主計總處
4   行政院主計總處
5   行政院主計總處
6   行政院主計總處
7   行政院主計總處
8   行政院主計總處
9   行政院主計總處
10  行政院主計總處
11  行政院主計總處
12  行政院主計總處

[13 rows x 26 columns]>

In [25]:
# 只處理數值型欄位，排除 '民國年' 和 '資料來源'
for col in gdp_df.columns:
    if col not in ['民國年', '資料來源']:
        gdp_df[col] = gdp_df[col].astype(float) / 100  # 轉換成億元

In [ ]:
gdp_df.columns

In [26]:
gdp_df.to_csv('processed_gdp_data.csv', index=False)

In [29]:
top_50 = pd.read_csv("C:/Users/User/OneDrive - 東吳大學/桌面/taiwan-economic-analysis-2025/MI_5MINS_HIST.csv")
total_value = pd.read_csv("C:/Users/User/OneDrive - 東吳大學/桌面/taiwan-economic-analysis-2025/每月_129360_A86_外資持有股票占總市值比重.csv")

In [28]:
top_50.head()

        日期      開盤指數      最高指數      最低指數      收盤指數
0  1140901  24143.37  24312.83  23885.41  24071.73

In [30]:
total_value.head()

,年月,外國專業投資機構上市,外國專業投資機構上櫃,外國專業投資機構全部,原一般境外僑外人及海外基金上市,原一般境外僑外人及海外基金上櫃,原一般境外僑外人及海外基金全部,外人直接投資上市,外人直接投資上櫃,外人直接投資全部,全體外資上市,全體外資上櫃,全體外資全部,公告日期
0,200607,24.43,7.43,22.99,0.82,0.01,0.75,6.67,3.37,6.39,31.92,10.81,30.13,20190410
1,200608,25.14,7.99,23.60,0.81,0.02,0.74,7.00,3.04,6.65,32.95,11.05,30.99,20190410
2,200609,26.47,7.81,24.82,0.77,0.03,0.71,6.89,3.06,6.56,34.13,10.90,32.09,20190410
3,200610,26.00,7.36,24.40,0.75,0.03,0.69,6.80,3.05,6.48,33.55,10.44,31.57,20190410
4,200611,26.48,7.24,24.81,0.76,0.05,0.70,6.81,3.52,6.52,34.05,10.81,32.03,20190410

In [31]:
total_value.columns

Index(['年月', '外國專業投資機構上市', '外國專業投資機構上櫃', '外國專業投資機構全部', '原一般境外僑外人及海外基金上市',
       '原一般境外僑外人及海外基金上櫃', '原一般境外僑外人及海外基金全部', '外人直接投資上市', '外人直接投資上櫃',
       '外人直接投資全部', '全體外資上市', '全體外資上櫃', '全體外資全部', '公告日期'],
      dtype='object')